.card {
  box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.253);
  h1{
    margin-left: 1em;
    font-size: 2em;
  }
    p {
      align-self: center;
    
    }
    button{
      margin-right: 1em;
      margin-bottom: 1em;
    }
    .buttons{
      justify-content: flex-end;
      align-self: flex-end;
    }
  }
  .contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:800px;
    margin-bottom: 1em;

    .section{
      width: 350px;
    }

    span{
     line-height: 0.2;
    }
    .buffer{
      height: 1.1em;
    }
  }

